@import '../../../styles.lib';

.square {
  font-family: $font-family;
  padding: $padding-default;
  height: 7rem;
  max-width: 100%;
  min-width: 7rem;
  text-align: center;
  color: white;
  box-sizing: border-box;
  overflow: scroll;
  cursor: pointer;
  transition: background-color $standard-transition, transform $standard-transition;

  &:hover {
    transform: scale(0.98);
  }
}

.title, .user-id, .id, .body {
  display: flex;
  justify-content: center;
}

.title {
  background-color: $first-color;
  font-size: $font-size-x-small;
  font-weight: bold;
}

.user-id, .id {
  align-items: center;
  font-size: $font-size-medium;
}

.user-id {
  color: $dark-color;
  background-color: $second-color;
}

.id {
  background-color: $third-color;
}

.body {
  background-color: $fourth-color;
  font-size: $font-size-x-small;
}
