@import '../../../styles.lib';

.square {
  position: relative;
  width: 100%;
  padding-top: 100%;
  box-sizing: border-box;
  overflow: scroll;
  cursor: pointer;
  transition: background-color $standard-transition, transform $standard-transition;

  &:hover {
    transform: scale(0.98);
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: inherit;
    overflow: scroll;
    text-align: center;
    font-family: $font-family;
    padding: $padding-default;
  }
}

.title, .user-id, .id, .body {
  display: flex;
  justify-content: center;
}

.title {
  align-items: flex-start;
  color: $light-color;
  background-color: $first-color;
  font-size: $font-size-x-small;
  font-weight: bold;
}

.user-id, .id {
  align-items: center;
  font-size: $font-size-medium;
}

.user-id {
  color: $dark-color;
  background-color: $second-color;
}

.id {
  color: $light-color;
  background-color: $third-color;
}

.body {
  align-items: flex-start;
  color: $light-color;
  background-color: $fourth-color;
  font-size: $font-size-x-small;
}
