@import '../../../styles.lib';

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: $padding-default;
  padding: $padding-default;
  padding-right: 0;
  padding-bottom: 0;
}
