@import '../../../styles.lib';

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: $padding-default;
  padding: $padding-default;
  padding-bottom: 0;
}

@media (min-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 860px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1100px) {
  .grid-container {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1250px) {
  .grid-container {
    grid-template-columns: repeat(10, 1fr);
  }
}
