@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

// Fonts
$font-family: 'Poppins', sans-serif;

// Font sizes
$font-size-large: x-large;
$font-size-small: small;
$font-size-x-small: x-small;

// Color palette
$first-color: rgb(0, 110, 127);
$second-color: rgb(248, 203, 46);
$third-color: rgb(238, 80, 7);
$fourth-color: rgb(178, 39, 39);
$dark-color: rgb(36, 36, 36);

// Spacing
$padding-default: 1rem;

// Transitions & Animations
$standard-transition: 0.5s;
